{{!-- <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{>navbar}}
    <h1>hbs pages</h1>
  </body>
</html> --}}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing form</title>

  </head>
  {{! <script>let name = document.getElementById("name"); let number =
    document.getElementById("number"); let email =
    document.getElementById("email"); let date =
    document.getElementById("date"); let schoolName =
    document.getElementById("schoolName"); let submitBtn =
    document.getElementById("submitBtn"); submitBtn.addEventListener("click",
    validateForm); function validateForm() { if (name.value == "") { alert("name
    field empty"); return false; } else if (number.value == "") { alert("number
    field empty"); return false; } else if (date.value == "") { alert("date
    field empty"); return false; } else if (email.value == "") { alert("email
    field empty"); return false; } else if (schoolName.value == "") {
    alert("school name field empty"); return false; } else if
    (number.value.length < 10 || number.value.length > 10) { alert("number can't
    be less than 10 or greater than 10"); return false; } calculateAge(); }
    function calculateAge() { let currentYear = new Date().getFullYear(); let
    userDate = new Date(date.value); let userFullYear = userDate.getFullYear();
    if (userFullYear < 2008) { alert("Year can't less than 2008 ");
    document.getElementById("date").value = ""; } else { if (currentYear -
    userFullYear > 12 && currentYear - userFullYear <= 15) { console.log("belong
    to user group of 13 to 15"); } if (currentYear - userFullYear >= 9 &&
    currentYear - userFullYear <= 12) { console.log("belong to age group of 9 to
    12"); } if (currentYear - userFullYear >= 6 && currentYear - userFullYear <
    9) { console.log("belong to age group of 6 to 8"); } if (currentYear -
    userFullYear >= 3 && currentYear - userFullYear < 6) { console.log("belong
    to age group of 3 to 6"); } // console.log(currentYear)
    randomRegistrationNumber(); return saveDataFunc(); } } function
    randomRegistrationNumber() { const random = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
    "A", "B", "C", "D", "E", "F", "G", "H", "I", ]; function getRandomNumber() {
    return Math.floor(Math.random() * random.length); } let name = "ROTARY"; for
    (let i = 0; i < 8; i++) { name += random[getRandomNumber()]; }
    console.log("REGISTRATION NUMBER:" + name); } let resultArr = []; function
    saveDataFunc() { resultArr.push(name.value); resultArr.push(number.value);
    resultArr.push(email.value); resultArr.push(date.value);
    resultArr.push(schoolName.value); console.log(resultArr); name.value = "";
    number.value = ""; email.value = ""; date.value = ""; schoolName.value = "";
    }
  </script> }}
  <body>
    <h1>Testing Form</h1>
    <form action="/register" method="post">
      <label for="name">Enter name </label>
      <input type="text" name="name" id="name" />
      <br />
      <br />
      <label for="name">Enter phone number </label>
      <input type="number" name="number" id="number" />
      <br />
      <br />
      <label for="email">Enter email </label>
      <input type="email" name="email" id="email" />
      <br />
      <br />
      <label for="date">Enter date </label>
      <input type="date" name="date" id="date" />
      <br />
      <br />
      <label for="name">Enter School Name </label>
      <input type="text" name="schoolName" id="schoolName" />
      <br />
      <br />
      <input type="submit" name="" id="submitBtn" />
    </form>
  </body>

</html>